1  What are data structures, and why are they important
 ans:Data structures are specialized ways of organizing and storing data in a computer so that it can be accessed and manipulated efficiently. They provide a way to manage data, ensuring that it can be inserted, deleted, accessed, and modified in an optimal way depending on the problem at hand.

2 Explain the difference between mutable and immutable data types with examples
 ans:Mutable Data Types: These types of data structures allow you to modify their content after they are created.
   Immutable Data Types: These types of data structures do not allow you to modify their content once they are created. You cannot change an element or add/remove elements.

3 +P What are the main differences between lists and tuples in Python
 ansLists are mutable, meaning you can change their content (add, remove, or modify elements).
Tuples are immutable, meaning once they are created, their content cannot be changed.

4 Describe how dictionaries store data
 ans: in  Python, dictionaries store data as key-value pairs, where each key is unique, and it is associated with a corresponding value. This allows for efficient data retrieval, modification, and deletion using the keys.

5 Why might you use a set instead of a list in Python
 ans You might choose to use a set instead of a list in Python for several reasons, mainly due to the unique properties of sets that make them suitable for specific use cases.

6  What is a string in Python, and how is it different from a list
 ans:In Python, a string is a sequence of characters, typically used to represent text. It is a built-in data type that is enclosed within either single quotes (' ') or double quotes (" "). Strings in Python are immutable, meaning once created, they cannot be changed.

7  How do tuples ensure data integrity in Python
  ans:Tuples in Python help ensure data integrity by being immutable, meaning once a tuple is created, its contents cannot be altered. This immutability offers several benefits that help maintain the integrity of the data stored in a tuple.

8 What is a hash table, and how does it relate to dictionaries in Python3
 ans: A hash table (also known as a hash map) is a data structure that stores key-value pairs, allowing for fast access to values based on their corresponding keys. The core idea behind a hash table is that it uses a hash function to compute an index (hash value) for each key, which is then used to store and retrieve the associated value efficiently.

9 Can lists contain different data types in Python
 ans :Yes, in Python, lists can contain different data types. A single list can hold items of any type, including integers, strings, floats, booleans, other lists, or even custom objects.

10  Explain why strings are immutable in Python
 ans:In Python, strings are immutable, meaning once a string is created, it cannot be changed or modified. Strings are immutable to optimize performance, ensure reliable and secure behavior, and maintain consistent hashing for efficient data structures like dictionaries and sets.

11  What advantages do dictionaries offer over lists for certain tasks
 ans:Dictionaries offer several advantages over lists for certain tasks, especially when you need to store and access data in a key-value pair format

12 Describe a scenario where using a tuple would be preferable over a list
 ans:Scenario: Storing Fixed Coordinates for Geographic Locations

Suppose you are building an application that processes geographic data, and you need to store coordinates (latitude, longitude) for specific locations. Since these coordinates are not expected to change (i.e., the coordinates of a city or landmark should remain constant), a tuple is the ideal choice

13 How do sets handle duplicate values in Python
 ans:n Python, sets automatically handle duplicate values by removing them. A set is a collection of unique elements; any duplicate value added to a set will be discarded. This behavior ensures that each element appears only once in the set, regardless of how many times it is added

14 How does the “in” keyword work differently for lists and dictionaries
 ans:The in keyword in Python is used to check for membership in a collection (such as a list, dictionary, set, etc.). However, it behaves differently depending on whether you're using it with a list or a dictionary.

15  Can you modify the elements of a tuple? Explain why or why not
 ans:No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable.

16 What is a nested dictionary, and give an example of its use case
 ans:A nested dictionary is a dictionary where some of the values themselves are dictionaries. In other words, you can have a dictionary inside another dictionary, creating a hierarchy or structure that allows you to represent more complex data relationships.

Nested dictionaries are useful when you need to represent structured data where elements are related to each other in a hierarchical or multi-level way, like representing objects or entities with multiple attributes.

17 Describe the time complexity of accessing elements in a dictionary  
 ans: A nested dictionary is a dictionary where some of the values themselves are dictionaries. In other words, you can have a dictionary inside another dictionary, creating a hierarchy or structure that allows you to represent more complex data relationships.

Nested dictionaries are useful when you need to represent structured data where elements are related to each other in a hierarchical or multi-level way, like representing objects or entities with multiple attributes.

18  In what situations are lists preferred over dictionaries
 ans:While dictionaries are powerful for fast lookups based on keys, there are certain situations where lists are preferred over dictionaries due to their simplicity, flexibility, and the way they are designed to handle specific use cases. Here are a few situations where lists might be more appropriate:

19  Why are dictionaries considered unordered, and how does that affect data retrieval
 ans:In Python, dictionaries are considered unordered because they do not maintain the order of their items based on insertion or any specific sequence of keys or values. The key-value pairs in a dictionary are stored in a way that allows for fast access but not necessarily in the order in which they were added.

This behavior is due to the way dictionaries are implemented internally. In Python, dictionaries are typically implemented using a hash table. A hash table uses a hash function to map keys to specific "buckets" in memory, allowing for efficient lookup, insertion, and deletion.

20 Explain the difference between a list and a dictionary in terms of data retrieval.
 ans:Both lists and dictionaries are fundamental data structures in Python, but they differ significantly in how data is retrieved. Here’s a breakdown of the key differences between the two in terms of data retrieval:
                  PARTICal

1  Write a code to create a string with your name and print it
 ans:

In [1]:
name = "vivek"
print(name)

vivek

2  Write a code to find the length of the string "Hello World
 ans:

In [1]:
string = "Hello World"
length = len(string)
print(length)

11

3  Write a code to slice the first 3 characters from the string "Python Programming
 ans

In [2]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

4 Write a code to convert the string "hello" to uppercase

In [3]:
string = "hello"
uppercased_string = string.upper()
print(uppercased_string)

HELLO

5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [4]:
sentence = "I like apple"
modified_sentence = sentence.replace("apple", "orange")
print(modified_sentence)

I like orange

6  Write a code to create a list with numbers 1 to 5 and print it

In [5]:
number_list = [1, 2, 3, 4, 5]
print(number_list)

[1, 2, 3, 4, 5]

7  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [6]:
number_list = [1, 2, 3, 4]
number_list.append(10)
print(number_list)

[1, 2, 3, 4, 10]

8  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [7]:
number_list = [1, 2, 3, 4, 5]
number_list.remove(3)
print(number_list)

[1, 2, 4, 5]

9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [8]:
letter_list = ['a', 'b', 'c', 'd']
second_element = letter_list[1]
print(second_element)

b

10 Write a code to reverse the list [10, 20, 30, 40, 50]

In [9]:
number_list = [10, 20, 30, 40, 50]
number_list.reverse()
print(number_list)

[50, 40, 30, 20, 10]

 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [10]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

13  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [12]:
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

14  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [13]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [14]:
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [15]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [16]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [17]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [18]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

 20  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [19]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
my_dict = {"name": "vivek kumar chaubey", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'vivek kumar chaubey', 'age': 25, 'city': 'New York'}

22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists.")
else:
    print("The key 'city' does not exist.")

The key 'city' exists.

26  Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1, 2, 3, 4]
my_tuple = (5, 6, 7, 8)
my_dict = {'name': 'John', 'age': 30}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: (5, 6, 7, 8)
Dictionary: {'name': 'John', 'age': 30}

27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [28]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[22, 33, 33, 63, 78]

28. Write a code to create a list with strings and print the element at the third index.

In [29]:
my_strings = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_strings[3])  # Element at index 3 (4th element)

date

29  Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {'name': 'vivelk ', 'age': 22}
dict2 = {'city': 'Paris', 'country': 'France'}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'vivelk ', 'age': 22, 'city': 'Paris', 'country': 'France'}

30 Write a code to convert a list of strings into a set.

In [31]:
my_list = ["apple", "banana", "cherry", "apple", "banana"]
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}